---
!!! 5
%html
  %head
    %title Bentoconf
    %link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet")
    :css
      /* Just a quick hack until we design a real layout for this page. */
      div.container {
        width: 585px;
      }

      header > img.bento {
        display: block;
        margin: 0 auto;
      }

      #st-widget {
        float: right;
      }

      footer {
        margin-top: 1em;
        border-top: solid #c43402 1px;
        padding-top: 1em;
        font-style: italic;
      }

  %body
    .container
      %header
        %img.bento(src="/images/bento-x400.jpg" width="338" height="400" alt="Bento")
        %hgroup
          %h1 Bentoconf
          %h3 Because you're never actually going to watch them on your own.

      :plain
        <script src='http://synchtube.com/javascripts/widget.js'>
        </script>
        <script>
          new ST.Widget(
          {
            room: 'Bentoconf',
            color: '#ffffff',
            links: '#ffffff',
            background: '#444444',
            show_media: true,
            rounded: true,
            width: 200
          })
        </script>

      :markdown
        **Bentoconf** is a weekly online viewing party for Ruby developers and
        their ilk.  [Tune in **every Thursday at 12:30pm ET**][synchtube] to
        see a new talk from a tech conference.  Then stick around for some
        lively discussion.

        [synchtube]: http://synchtube.com/r/Bentoconf "Bentoconf on Synchtube"

      %p
        Bentoconf sessions are designed to run 60 minutes to fit into your lunch
        schedule.

      %p
        Pack a lunch, pull up a seat, and let's learn something.

      %h4 Can I hear about upcoming talks? And discuss the talks with others?

      :markdown
        You sure can!  Join the Bentoconf mailing list.  Just send a blank
        email to <bentoconf@librelist.com> and reply to the confirmation email
        you get back.  [Archives are available][list-archives].

        [list-archives]: http://librelist.com/browser/bentoconf/ "Bentoconf mailing list archives"

      %footer
        :markdown
          Brought to you by [@peeja](http://peeja.com/).

    :javascript
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/UfUA1KP9rmRQSEv3oa5saw.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
