---
!!! 5
%html
  %head
    %title Bentoconf
    %link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet")

  %body
    .container
      %header
        %hgroup
          %h1 Bentoconf
          %h2 Because you're never actually going to watch it on your own.

      %p
        <b>Bentoconf</b> is a weekly online viewing party for Ruby developers and
        their ilk.  Tune in <b>every Thursday at 12:30pm ET</b> to see a new talk
        from a tech conference.  Then stick around for some lively discussion.

      %p
        Bentoconf sessions are designed to run 60 minutes to fit into your lunch
        schedule.

      %p
        Pack a lunch, pull up a seat, and let's learn something.

      %h2 Sounds good, I'm in!

      :markdown
        Great!  It's not clear yet how we're going to host this thing, so sign up
        for the mailing list for updates and discussion.

        Just send a blank email to <bentoconf@librelist.com> and reply to the
        confirmation email you get back.
